.deleteTaskModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    backdrop-filter: blur(10px);

    .modalContent {
        background-color: white;
        width: 450px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;

        h2 {
            margin-bottom: 10px;
            text-align: start;
        }

        p {
            margin-bottom: 20px;
            text-align: start;
            color: #0000008A;
        }

        .buttons {
            display: flex;
            justify-content: center;

            .cancelButton,
            .deleteButton {
                padding: 15px 20px;
                border: none;
                border-radius: 5px;
                margin: 0 10px;
                cursor: pointer;
                font-weight: bold;
                width: 200px;
            }

            .cancelButton {
                background: #E7EEFB;
                color: #333;
            }

            .deleteButton {
                background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
                color: white;
            }
        }
    }
}